/* blockly workspace */
.blocklySvg {
	background-color: #272822 !important;
}
.blocklyMainBackground {
	stroke: none !important;
}
.blocklyScrollbarKnob {
	display: none;
}

/* blockly toolbox */
/*change toolbox color*/
.blocklyToolboxDiv {
	color: white;
	background-color: #272822 !important;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #666 !important;
}
.blocklyFlyoutBackground {
	fill: #272822 !important;
}
/*make toolbox item bigger*/
.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}
/*hide top folder icon(because they are black) and bold folder label*/
.blocklyTreeIcon {
	display: none !important;
}
/*[aria-level="1"] > .blocklyTreeRow > .blocklyTreeLabel {
	padding: 0 10px;
	font-weight: bold;
}*/
/*change sep style*/
.blocklyTreeSeparator {
	margin: 0 !important;
	border-left: none !important;
	border-bottom: 1px dashed #444 !important;
}
/*separate top folders*/
[aria-level="1"] {
	border-top: 1px solid #444;
}
[aria-level="1"]:first-child {
	border-top: none;
}

/* custom block style */
.blockTitle {
	font-weight: bold;
}